.main {
  height: 84vh;
  display: flex;
  background: url("../../images/jess-bailey-cvUIv9j5wDg-unsplash.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
}

.text {
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 0.7rem;
  /* min-height: 10rem; */
  background-color: rgba(231, 216, 216, 0.7);
}

h1 {
  font-size: 7vw;
}

h6 {
  font-size: 2vw;
}

.buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: auto;
  width: 50%;
  margin-top: 4rem;
}

.landingButton {
  margin-right: 1rem;
  height: 90%;
  text-align: center;
  width: 90%;
  font-size: 80%;
  padding: 0.5rem 1rem;
  color: white;
}

@media all and (min-width: 700px) {
  .landingButton {
    width: 110%;
    padding: 0.5rem 1rem;
  }
}

@media all and (min-width: 700px) and (max-width: 900px) {
  .landingButton {
    margin-right: 2rem;
    font-size: 90%;
    width: 95%;
  }
}

@media all and (max-width: 400px) {
  h1 {
    font-size: 8vw;
  }

  h6 {
    font-size: 3.5vw;
  }
}
